.font-yeseva {
    font-family: 'Yeseva One', cursive;
}

.font-serif {
    font-family: 'Noto Serif TC';
}

.font-sans {
    font-family: 'Noto Sans TC';
}

.font-up {
    text-transform: uppercase;
}

.h-vh-100 {
    height: calc(100vh - 104px - 88px);

    @include phone() {
        height: calc(100vh - 64px - 68px);
    }
}

@for $i from 14 through 64 {
    .fs-#{$i} {
        font-size: $i * 1px;
    }
}

@for $i from 14 through 64 {
    @include web() {
        .fs-lg-#{$i} {
            font-size: $i * 1px;
        }
    }
}

@for $i from 14 through 64 {
    @include tablet() {
        .fs-md-#{$i} {
            font-size: $i * 1px;
        }
    }
}

@for $i from 14 through 64 {
    @include phone() {
        .fs-sm-#{$i} {
            font-size: $i * 1px;
        }
    }
}