<footer class="text-center border-3 border-top border-primary  py-24 py-md-32">
<h6 class="font-sans">© 7TAO七逃. All Rights Reserved</h6>
</footer>
<script type="module" src="../main.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>