<header class="border-3 border-bottom border-primary">
    <div class="container-xxl">
        <nav class="navbar navbar-expand-lg navbar-light py-12 py-md-25">
            <div class="d-flex justify-content-start">
                <a class="navbar-brand d-flex align-items-center pe-25 pe-md-48" href="index.html">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
                        alt="logo" class="img-fluid w-px-53">
                    <h4 class="ps-1 d-none d-md-flex font-yeseva">7TAO</h4>
                    <span class="fw-bold ps-4 d-none d-md-flex">活動訂票網</span>
                </a>
                <form class="d-flex">
                    <input class="form-control font-sans" type="search" placeholder="探索活動" aria-label="Search">
                    <span
                        class="icofont-search-1 header-search-icon bg-primary text-secondary p-12 p-md-1 text-align-center"></span>
                </form>
                <button class="navbar-toggler rounded-1 border-1 ms-25 ms-md-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-center ms-md-auto mt-1 mt-md-0 font-yeseva">
                    <li class="nav-item pe-0 pe-md-24">
                        <a class="nav-link link-dark" aria-current="page" href="shop.html"><i
                                class="icofont-ui-file pe-4"></i>REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="#"><i class="icofont-ui-user pe-4"></i>LOGIN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>