<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>payment2</title>
    <%- include('./layout/head'); -%>
</head>

<body>
    <%- include('./layout/header'); -%>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3"></div>
                    <div class="col-12 col-md-6">
                        <section class="progress-relative mt-24 mt-md-60">

                            <div class="row progress-position g-0">
                                <div class="col-auto">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <button type="button" class="btn btn-primary text-secondary w-px-48" disabled>
                                            <i class="icofont-verification-check"></i>
                                        </button>
                                        <span class="fw-bold font-serif  mt-4 mt-md-8">訂單確認</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <button type="button" class="btn btn-primary w-px-48" disabled>
                                            <i class="icofont-verification-check"></i>
                                        </button>
                                        <span class="fw-bold font-serif  mt-4 mt-md-8">結帳付款</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <button type="button" class="btn btn-primary w-px-48" disabled>3</button>
                                        <span class="fw-bold font-serif  mt-4 mt-md-8">訂購結果</span>
                                    </div>
                                </div>

                            </div>

                        </section>

                        <section class="text-center mt-32 mt-md-48">
                            <i class="icofont-check-circled fs-42 fs-sm-28"></i>
                            <h5 class="mt-16 fw-bold">訂購成功 </h5>
                        </section>

                        <ul class="list-group list-group-flush mt-32">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-top border-primary border-2"
                                aria-current="true">
                                <p class="font-serif fw-bold">訂單編號</p>
                                <p>892746123</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <p class="font-serif fw-bold">訂購時間</p>
                                <p>2023/04/28 14:30</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <p class="font-serif fw-bold">票券</p>
                                <p>改頭換面票（含大改造）$8000</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <p class="font-serif fw-bold">取票序號</p>
                                <p class="text-danger">95G54J4434</p>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-bottom border-primary">
                                <p class="font-serif fw-bold">取票號碼</p>
                                <p class="text-danger">04597101</p>
                            </li>
                        </ul>

                        <p class="text-info1 mt-16 mb-150">
                            請至 7-Eleven 完成取票，請於 ibon 點選【購票/取票/訂房】>【售票系統】>【取票】>【拓元售票系統】。<br>
                            若您未前往取票，本筆交易仍視為完成，不可取消訂單。<br>
                            若需退票，請按照退票辦法進行申請。
                        </p>

                    </div>
                    <div class="col-12 col-md-3"></div>
                </div>

            </div>
        </main>

        <%- include('./layout/footer'); -%>
</body>

</html>